body{
    margin:0;
    padding:0;
    height: 100%;
    box-sizing: border-box ;
}
header, footer{
    background-color: #1F2937;
    font-style:normal;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}

.logo a{
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    padding: 40px;
    margin: 0;
    
}

.right-side {
    display: flex; /* Ensure it's a flex container */
    align-items: center; /* Center items vertically */
    padding: 40px;
}

.right-side li {
    margin-left: 20px; /* Add space between header links */
}

.right-side a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0; /* Remove default padding from ul */
    margin: 0;
}

footer{
    bottom: 0;
    text-align: center;
    color:#F9FAF8;
    position:fixed;
    width: 100%;

}


.main {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 40px; /* Adds some space around the content */
}

.button1{
    font-family: 'Open Sans', sans-serif;
    padding: 15px 30px;
    background-color: #F9FAF8;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #1F2937;
    border-radius: 5px; 
}
.leftside img{
    max-width: 500px;
    height: auto;
}
.para1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 30px;
}
.text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 20px;
}
button:hover {
    background-color: #E5E7EB;
}
.rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
    max-width: 50%; /* Ensure the text column doesn't take too much space */
    margin-left: 40px; /* Space between image and text */
}

.quote{
    background-color: #E5E7EB;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;

}

.quote p {
    font-size: 36px; /* Font size for the paragraph texts */
    font-style: italic; /* Make the text italic */
    color: #1F2937; /* Text color */
    margin: 10px 0; /* Space between paragraphs */
}

.quote h3 {
    font-size: 24px; /* Font size for the heading */
    color: #1F2937; /* Same color for consistency */
    margin-top: 10px; /* Space above the heading */
    text-align:right;
}
